@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s linear;
}

html{
    font-family: 'Kumbh Sans', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style:none;
}

.container{
    position: relative;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
}

.container .bubles{
    position: fixed;
    z-index: 1;
}

.container .Fbuble{
    top: -600px;
    left: 0;
}
.container .Sbuble{
    bottom: -600px;
    right: 0;
}


.box-area{
    position: relative;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-box{
    position: relative;
    width: 350px;
    height: 40vh;
    background-color: white;
    border-radius: 10px;
}

.card-box-top-img{
    background-image: url("./img/bg-pattern-card.svg");
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0 ;
}

.card-box-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-box-prof{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
}
.card-box-prof img{
    width: 100%;
    height: auto;
}

.card-box-title{
    display: flex;
    gap: 1rem;
}